* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item-input {
  border: 2px solid gray;
  width: 40%;
}

.txtArea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.item-display {
  border: 2px solid gray;
  border-style: dotted;
  width: 60%;
}
